*{
    margin: 0;
    padding: 0;
}
.image-container{
    height: 400px;
    width: 400px;
    background-image: url(bibek.png);
    background-size: cover;  
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}