label{
    width: 100%;
}

h1{
    /* padding-left: 50px; */
}
input[type="text"]{
    width: 100%;
}
body{
}
.container{
    background-color: red;


height: 400px;
width:400px;
text-align: center;
}